.wrapper {
  @apply absolute flex justify-center flex-col items-center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  .name {
    @apply text-center font-sans text-white text-xl font-semibold;
    text-shadow: #000 0.5px 0 0, #000 0 0.5px 0, #000 -0.5px 0 0,
      #000 0 -0.5px 0;
    margin-top: 1em;
  }
  .input-wrap {
    & input {
      -webkit-text-fill-color: #eeeeee;
      color: #eee;

      @apply bg-white bg-opacity-20 rounded-3xl tracking-wider mt-3 py-0.5;

      padding-left: 15px;
      line-height: 1.8;
    }
  }
}
